span.rm-page-ref[data-tag^="priority"] {
  padding: 2px 6px 2px 6px;
  display:inline-block;
  border-radius: 4px;
  border: 1px solid rgb(185, 185, 185);
}

span.rm-page-ref[data-tag^="priority"]:hover {
  opacity: 0.8;
}

span.rm-page-ref[data-tag$="/p1"]::before {
  content: '🔴 ';
}
span.rm-page-ref[data-tag$="/p1"] {
  background-color: rgb(252,231,235);
}

span.rm-page-ref[data-tag$="/p2"]::before {
  content: '🟠 ';
}
span.rm-page-ref[data-tag$="/p2"] {
  background-color: rgb(250,224,175);
}

span.rm-page-ref[data-tag$="/p3"]::before {
  content: '🔵 ';
}
span.rm-page-ref[data-tag$="/p3"] {
  background-color: rgb(199,230,240);
}

span.rm-page-ref[data-tag$="/p4"]::before {
  content: '⚪️ ';
}
span.rm-page-ref[data-tag$="/p4"] {
  background-color: rgb(244,244,244);
}

span[data-link-title^="priority"] > .rm-page-ref {
  padding: 2px 6px 2px 6px;
  display:inline-block;
  border-radius: 4px;
  border: 1px solid rgb(185, 185, 185);
}

span[data-link-title^="priority"] > .rm-page-ref:hover {
  opacity: 0.8;
}


span[data-link-title^="priority"] > .rm-page-ref:hover {
  border: 1px solid;
}

span[data-link-title$="/p1"] > span.rm-page-ref::before {
  content: '🔴 ';
}
span[data-link-title$="/p1"] > span.rm-page-ref {
  background-color: rgb(252,231,235);
}

span[data-link-title$="/p2"] > span.rm-page-ref::before {
  content: '🟠 ';
}
span[data-link-title$="/p2"] > span.rm-page-ref {
  background-color: rgb(250,224,175);
}

span[data-link-title$="/p3"] > span.rm-page-ref::before {
  content: '🔵 ';
}
span[data-link-title$="/p3"] > span.rm-page-ref {
  background-color: rgb(199,230,240);
}

span[data-link-title$="/p4"] > span.rm-page-ref::before {
  content: '⚪️ ';
}
span[data-link-title$="/p4"] > span.rm-page-ref {
  background-color: rgb(244,244,244);
}
